# 所有文本文件仓库强制LF存储，检出不强制转换
* text=auto eol=lf

# Windows脚本特殊兼容（可选）
*.bat text eol=crlf
*.cmd text eol=crlf

# 二进制文件禁止任何换行处理
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binaryb