registry=https://registry.npmmirror.com/
puppeteer_download_host=https://npmmirror.com/mirrors
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# fix renovate not update pnpm-lock.yaml
strict-peer-dependencies=false

# access pnpm phantom dependencies
shamefully-hoist=true