/* stylelint-disable scss/at-mixin-pattern */
@mixin flexR {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexRc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexCc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexRsb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCsb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flexRsa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}